.k-pdf-export{
    .export-hidden{
        display: none;
    }
}


.heatmap-component{
    background-color: white;
    padding: 10px;
}

.heatmap-reports{
    .heatmap-report{
        margin-top: 15px;
    }
}