.dropdown-block {
  width: 100%;
}

:not(.k-field-actions) {
  >.k-icon {
    background-image: none!important;
  }
}

.k-grid {
    .k-pager-wrap > .k-link {
      height: 1.4em;
      line-height: 1.4em;
  }

  tbody {
    .k-button.k-button-none {
      border: none;
      background-image: none;
      background: transparent;
      padding: 0;
      min-width: 0;
    }

    td[role=gridcell] {
      text-align: center;
    }
  }

  .k-numerictextbox .k-link {
    line-height: 0.4em;
  }

}

.has-error {
  .k-dropdown-wrap {
    border-color: #a94442;
  }
}

.k-form-control.k-dropdown {
  .k-dropdown-wrap{
    height: 34px;
  }
}
.k-form-control {
  .k-dropdown {
      .k-dropdown-wrap{
        height: 34px;
      }
  }
}

.form-control {
  &.no-border{
    border: none;
  }
}

.app-datepicker.k-datepicker {
    display: block;
}

.app-datetimepicker {
  width: 100%!important;
}

.k-numerictextbox .k-link {
  line-height: 6px;
}

.has-error {
  .k-numerictextbox .k-numeric-wrap {
    border-color: #a94442;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }
}

.kendo-dropdown-sm {
  .k-dropdown-wrap{
    .k-input {
      height: 1.3em;
      padding-left: 1px;
    }
  }
}

.form-group-sm {
  .k-form-control .k-dropdown .k-dropdown-wrap {
      height: 30px;
  }
}

.k-form-control {
  .k-numeric-wrap{
    border-color: #c5c5c5;
  }
}

.k-numeric-wrap .k-select,
.k-dropdown-wrap .k-select {
    width: 2.0em;
}

.k-picker-wrap .k-select{
    width: 2.5em;
}

.k-pager-numbers .k-state-selected.k-link,
.k-pager-numbers .k-state-selected:hover.k-link {
    background-color: #1ab394;
    // background-color: #428bca;
}

.k-grid-header .k-header:first-child {
    border-left-width: 1px;
}

.k-pager-wrap .k-link {
    color: #1ab394;

    &:hover {
      color: #18a689;
    }
}
